
Droid/obj/Debug/

iOS/obj/iPhoneSimulator/Debug/

iOS/bin/iPhoneSimulator/Debug/device-builds/iphone9\.1-10\.3\.1/WorklabsMx\.iOS\.app/

iOS/bin/iPhoneSimulator/Debug/

Droid/bin/Debug/

Droid/obj/\.cache/

WorklabsMx\.Droid/bin/Debug/

WorklabsMx\.Droid/obj/Debug/android/assets/

WorklabsMx\.Droid/obj/Debug/linksrc/

WorklabsMx\.Droid/obj/Debug/

MobileAppService/obj/Debug/netcoreapp1\.0/
