<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>mx.worklabs.uc</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>testscheme</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleDisplayName</key>
	<string>Worklabs</string>
	<key>CFBundleName</key>
	<string>Worklabs</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Necesitamos acceder a tu galería fotográfica para que puedas publicar fotos dentro de nuestra App</string>
	<key>NSCameraUsageDescription</key>
	<string>Necesitamos permisos a tu cámara fotográfica que puedas publicar fotos dentro de nuestra App</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Necesitamos permisos para acceder a tu calendario y así agendarte reuniones y visitas</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSMicrophoneUsageDescription</key>
	<string>Se necesitan permisos para acceder a el micrófono</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>184.168.47.17</key>
			<dict>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.0</string>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleShortVersionString</key>
	<string>1.8.4</string>
	<key>CFBundleVersion</key>
	<string>1.8.4</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>Custom Property</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.WorklabsMx.WorklabsMx</string>
</dict>
</plist>
